.form-control {
    @include placeholder($grey-color-1, 2rem);
    height: 12rem;

    mat-datepicker-toggle {
        .mat-icon-button {
            position: absolute;
            right: -1rem;
            top: -1.7em;
        }
        .mat-button-ripple.mat-ripple,
        .mat-button-focus-overlay {
            display: none;
        }
    }

    .mat-datepicker-toggle-default-icon {
        height: 1.6rem !important;
        width: 1.6rem !important;
    }

    .mat-form-field {
        line-height: 1.25;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 1.1em 0 0.9em 0;
    }
    .mat-form-field-infix {
        border-top: 0;
    }
    mat-label {
        color: $grey-color-2;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 1.25;
        font-weight: 600;
    }
    .mat-form-field-outline {
        @include border-radius(0.6rem);
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-end,
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
        border-radius: 6px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgba($black-color, 0.3);
    }

    .mat-flat-button {
        font-size: 2rem;
    }
}

.form-control-checkbox {
    position: relative;

    mat-checkbox {
        position: absolute;
        top: 5rem;
        right: -4rem;
    }
}

.form-control-textarea {
    height: 14rem;
    textarea {
        resize: none !important;
    }
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    width: 4rem;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 3px;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid.ng-untouched
    .mat-form-field-outline-thick,
.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field.mat-form-field-invalid
    .mat-form-field-label
    .mat-form-field-required-marker,
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick,
.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: rgba($black-color, 0.4) !important;
}

.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
    caret-color: rgba($black-color, 0.4) !important;
}

.mat-select-arrow-wrapper {
    color: rgba($black-color, 0.4);
    position: relative;
    top: 0.8rem;
}

.mat-select-value {
    position: relative;
    top: 0.2rem;
}

.form-control {
    &--filter {
        @include placeholder(rgba($black-color, 0.6), 1.6rem);
        height: auto !important;
        margin-top: 1rem;
        width: 85%;

        .mat-select-value {
            top: 0 !important;
        }

        .mat-form-field-infix {
            width: auto;
        }

        .mat-form-field-wrapper {
            padding-bottom: 1em !important;
        }

        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.9em 0 0.7em 0 !important;
        }

        input[type='text'] {
            color: $black-color;
        }
    }
}

.status-width {
    width: 60% !important;
}
