.details-view {
    &__header {
        position: relative;
        height: 8rem;
        padding: 0 1.5rem;
        border-bottom: 1rem solid $grey-color-3;

        &__back {
            a {
                &:hover {
                    text-decoration: none;
                }
            }

            h4 {
                color: $primary-color;
                line-height: 7rem;
                vertical-align: middle;
            }
        }

        mat-icon {
            vertical-align: middle;
            margin-right: 1.4rem;
        }

        h4 {
            display: inline-block;
            font-size: 2.6rem;
        }

        .text-right {
            .mat-icon-button {
                @include square(5rem);
                text-align: center;
                margin-top: 1rem;

                mat-icon {
                    margin-right: 0;
                }
            }
        }
    }

    &__img {
        margin-bottom: 4rem;
        margin-top: 3rem;
        padding-left: 1.5rem;
        float: left;

        img,
        mat-icon {
            @include square(13rem);
        }
    }

    &__btn {
        float: left;
        display: flex;
        align-items: center;
        margin-left: 3rem;

        .mat-flat-button.mat-button-base {
            background: $primary-color-light;
            height: 4.8rem;
            border-radius: 2.4rem;
            width: 25rem;
            margin-right: 2rem;

            mat-icon {
                margin-right: 1.2rem;
            }

            .mat-button-wrapper {
                color: $primary-color;
                font-size: 1.8rem;
            }
        }
    }

    &__data {
        padding: 0 1.5rem;

        span,
        label {
            display: block;
        }

        span {
            color: $black-color;
            margin-bottom: 1.8rem;
            font-size: 1.6rem;
        }

        label {
            color: $grey-color-4;
            font-size: 1.8rem;
        }
    }
}
